<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>数据挖掘</title>

  <link href="/static/plugins/fullPage/jquery.fullPage.css" rel="stylesheet"/>
  <link href="/static/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/static/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
  <link href="/static/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
  <link href="/static/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
  <link href="/static/css/admin.css" rel="stylesheet"/>

  <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.0/css/bootstrap.min.css">  
  <script src="/static/plugins/jquery.1.12.4.min.min.js"></script>
  <script src="/static/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
 
</head>
<body>

<p></p><p></p><p></p><p></p><p></p><p></p><p></p>




<div class="form-group" >

  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">分类模型：</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li class="active"> <a href="#">LogisticRegression</a></li> <li class="divider"></li>
      <li><a href="#">SVM</a></li> <li class="divider"></li>
      <li><a href="#">GBDT</a></li> <li class="divider"></li>
    </ul>
  </div>
  </div>
  </nav>





  <div class="btn-group">
    <button type="button" class="btn btn-primary">分类模型</button>
    <button type="button" class="btn btn-primary dropdown-toggle"   data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">切换下拉菜单</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Lotistic Regression</a></li>  <li class="divider"></li>
      <li><a href="#">SVM </a></li>   <li class="divider">  </li> 
      <li><a href="#">GBDT</a></li>
    </ul>
    <a> select a model </a>
  </div>




<div class="radio">
    <label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>训练集和测试集</label>
    <p> 训练集：<input type="file" >  </p>
    <p> 测试集：<input type="file" >  </p>
</div>
<div class="radio">
   <label> <input type="radio" name="optionsRadios" id="optionsRadios2"  value="option2">Cross-Validation</label>
   <p> 10 folds </p>
</div>








  <script src="/static/plugins/jquery.1.12.4.min.js"></script>
  <script src="/static/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
  <script src="/static/plugins/waves-0.7.5/waves.min.js"></script>
  <script src="/static/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/static/plugins/BootstrapMenu.min.js"></script>  
  <script src="/static/plugins/device.min.js"></script>
  <script src="/static/plugins/fullPage/jquery.fullPage.min.js"></script>
  <script src="/static/plugins/fullPage/jquery.jdirk.min.js"></script>
  <script src="/static/plugins/jquery.cookie.js"></script>
  <script src="/static/js/admin.js"></script>
</body>
</html>


