<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>数据挖掘</title>

  <link href="/static/plugins/fullPage/jquery.fullPage.css" rel="stylesheet"/>
  <link href="/static/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/static/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
  <link href="/static/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
  <link href="/static/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
  <link href="/static/css/admin.css" rel="stylesheet"/>

  <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.0/css/bootstrap.min.css">  
  <link rel="stylesheet" href="/static/plugins/bootstrap-fileinput/css/fileinput.min.css">  

  <style> 
  .divcss_maincontent{ padding-left:30px;padding-right:30px;padding-top:30px;padding-bottom:30px} 
  .divcss_train_test_widget{ padding-left:30px} 
  </style> 

</head>
<body>

<div class="divcss_maincontent"  >

  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">分类模型：</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li class="active"> <a href="#">LogisticRegression</a></li> <li class="divider"></li>
      <li><a href="#">SVM</a></li> <li class="divider"></li>
      <li><a href="#">GBDT</a></li> <li class="divider"></li>
    </ul>
  </div>
  </div>
  </nav>


  <div class="content" style="width:300px;">
    <input type="file" class="filestyle" style="width:120px;">
    <script type="text/javascript">
      $(':file').filestyle();
    </script>
  </div>


<div class="radio">
    <label> 
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      <p class="lead">训练集和测试集</p>
    </label>


    <div class="form-group" style="width:500px;">
        <div class="col-md-3">
          <label class="lead"> 训练集: </label>
        </div>
        <div class="col-md-8">
          <input type="file" class="filestyle" >
            <script type="text/javascript">
              $(':file').filestyle();
            </script>
        </div>
    </div>
    <br/><br/>
        
    <div class="form-group" style="width:500px;">
      <div class="col-md-3">
        <label class="lead"> 测试集: </label>
      </div>
      <div class="col-md-8">
        <input type="file" class="filestyle" >
          <script type="text/javascript">
            $(':file').filestyle();
          </script>
      </div>
    </div>
    <br/>

  </div>


<div class="radio">
   <label> 
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      <p class="lead">Cross_Validation</p>
    </label>
   <p> 10 folds </p>
</div>








  <script src="/static/plugins/jquery.1.12.4.min.js"></script>
  <script src="/static/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
  <script src="/static/plugins/waves-0.7.5/waves.min.js"></script>
  <script src="/static/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/static/plugins/BootstrapMenu.min.js"></script>
  <script src="/static/plugins/device.min.js"></script>
  <script src="/static/plugins/fullPage/jquery.fullPage.min.js"></script>
  <script src="/static/plugins/fullPage/jquery.jdirk.min.js"></script>
  <script src="/static/plugins/jquery.cookie.js"></script>
  <script src="/static/js/admin.js"></script>

  <script type="text/javascript" src="/static/plugins/bootstrap-filestyle-1.2.1/src/bootstrap-filestyle.min.js"></script>


</body>
</html>


